
.bold { font-weight: bold; }

.primary-text { color: $primary; }

.secondary-text { color: $secondary; }

.text-align-right { text-align: right; }

.text-align-center { text-align: center; }

.text-align-left { text-align: left; }

.text-no-wrap { white-space: nowrap; }

.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-24 { font-size: 24px; }